body{
    margin: 0;
    min-width: 1000px;
}

html{
    scroll-behavior: smooth;
}

header{
    z-index: 3;
}

.product-container{
    position: static;
    background: var(--txt-color);
    margin: 50px auto;
    width: 60%;
    height: var(--HP-imgBate-size);
}

.img-div {
    display: inline;
    position: absolute;
    height: var(--HP-imgBate-size);
    width: var(--HP-imgBate-size) ;
    cursor: pointer;
}

.product-image {
    transition: ease-in-out 0.5s;
    opacity: 1;
    width: 100%;
}

.price {
    opacity: 0;
    transition: ease-in-out 0.5s;
    position: absolute;
    bottom: 0px;
    width: 100%;
}


.product-title {
    position: relative;
    margin-bottom: 0px;
    top: 5px;
    left: calc(var(--HP-imgBate-size) + 10px);
    font-family: Calibri;
    max-width: calc(95% - var(--HP-imgBate-size));
}

.product-description{
    position: relative;
    left: calc(var(--HP-imgBate-size) + 10px);
    max-width: calc(95% - var(--HP-imgBate-size));
    font-family: "Calibri Light";
}

.img-div:hover .product-image {
    transition: .5s ease;
    opacity: 0.7;
}

.img-div:hover .price {
    transition: .5s ease;
    opacity: 1;
}

.textHover {
    background-color: var(--primary-color);
    color: var(--txt-color);
    font-size: 16px;
    text-align: center;
    padding: 7px;
    font-family: "Calibri";
}
